<hr style=" height:1px; width:100%;">
<!-- background-color: #717171; removed this color for no reason  -->
<nav class="navbar navbar-expand">

    <!-- Links -->
    <ul> <li class="nav-item">
        <a class="nav-link" href="#"><img src="../../assets/images/luhta.png" class="logo img-fluid img-responsive" alt=""></a>
      </li></ul>
    <ul class="navbar-nav  ml-auto">
    
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="">Made by copy coder@2023</i></a>
      </li>
    </ul>
   
  
  </nav>