.about-container{
    min-height:100vh;
}
.about-container #us-img{
filter:grayscale(100%);
opacity: 1;
transition: opacity 0.5s ease;
border-radius:10px;
height:350px;
position:absolute;
}
.about-container .about-heading{
    font-size:40px;
   
    
}
.about-container #us-img:hover{
    opacity:0.5;
}


@media screen and (max-width:600px){
    .about-container #me-about-image{
display:none;
    }
}