<div class="about-container">
  <div class="about-heading text-center mb-5">
    <h1 class="text">So, Who Am I?</h1>
  </div>
  <div class="row mx-auto">
    <div class="col-md-10 mx-auto">
        <div class="row mx-auto">
            <div class="col-md-3 mx-auto">
              <img
                src="../../assets/images/aboutpic.jpg"
                id="us-img"
                class="img-fluid img-responsive"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-md-9 mx-auto" id="me-about-content">
              <p class="text text-justify">
                Highly motivated final-year B.Tech student specializing in Electronics
                and Communication Engineering. I am quite passionate about competitive
                coding. Equipped with a diverse skill set including programming
                languages like Python, C#, Javascript, C++ and C.
                <br /> <br>
                I also have expertise in front-end web development and am skilled in
                creating minimalistic and responsive front-end designs using several
                front-end tools and libraries like Angular. I am also familiar with MS
                SQL. <br>
                <br>During my academic tenure, I have had the privilege of acquiring
                hands-on experience in diverse technical and non-technical
                organizations. Furthermore, I have honed my teamwork skills through
                engaging in internships at esteemed corporations.
              </p>
            </div>
           
          </div>
    </div>
  </div>
</div>
