.project-container{min-height:100%;margin-bottom:50px;}
.project-container .project-heading{
    font-size:40px;
}
.project-container .top-4{
    height:100%;
   
}
.project-container .card-group{
    width:100%;
    gap:10px;
}
.project-container .card{
    background-color:#1A1A1A;
    margin-top:10px;
    /* height:300px; */
 
}
.project-container a{
    text-decoration:none;
    color: #717171;
}