<div class="project-container">
  <div class="skills-heading text-center mb-5">
    <h1 class="text">My Works</h1>
  </div>
  <div class="row mx-auto">
    <div class="col-md-10 mx-auto">
      <div class="row top-4">
        <div class="card-group">
          <div class="card">
              <img class="card-img-left" src="../../assets/images/diary.webp" alt="">
             
            <div class="card-body">
              <h5 class="card-title text">Diary App</h5>
              <p class="card-text">
                <a
                  href="https://github.com/AthulBabu232000/Node-56-Diary-App.git"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Diary App</a
                >
              </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-left" src="../../assets/images/chatbot.avif" alt="">

            <div class="card-body">
              <h5 class="card-title text">ML Chatbot</h5>
              <p class="card-text">
                <a
                  href="https://github.com/AthulBabu232000/chatbot-ml-mp.git"
                  target="_blank"
                  rel="noopener noreferrer"
                  >ML Chatbot</a
                >
              </p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-left" src="../../assets/images/gates.jpg" alt="">

            <div class="card-body">
              <h5 class="card-title text">Boolean Gates</h5>
              <p class="card-text">
                <a
                  href="https://github.com/AthulBabu232000/pever_gates"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Gates</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="card-group">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text">Heart CSS</h5>

              <div style="padding: 75% 0 0 0; position: relative">
                <iframe
                  src="https://player.vimeo.com/video/838221274?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                  frameborder="0"
                  allow="autoplay; fullscreen; picture-in-picture"
                  allowfullscreen
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  "
                  title="vid1"
                ></iframe>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text">Spooky CSS</h5>
              <div style="padding: 75% 0 0 0; position: relative">
                <iframe
                  src="https://player.vimeo.com/video/838233564?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                  frameborder="0"
                  allow="autoplay; fullscreen; picture-in-picture"
                  allowfullscreen
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  "
                  title="Project_09-04(2)_HD 720p_MEDIUM_FR30"
                ></iframe>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text">Emoji CSS</h5>
              <div style="padding: 75% 0 0 0; position: relative">
                <iframe
                  src="https://player.vimeo.com/video/838235579?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                  frameborder="0"
                  allow="autoplay; fullscreen; picture-in-picture"
                  allowfullscreen
                  style="
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                  "
                  title="Project_09-03(1)_HD 720p_MEDIUM_FR30"
                ></iframe>
              </div>
              <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
