<div class="skills-container">
    <div class="skills-heading text-center mb-5">
        <h1 class="text">Ask me about</h1>
      </div>
      <div class="row mx-auto">
        <div class="col-md-10 mx-auto">
            <div class="row d-none d-md-flex">
                <swiper-container slides-per-view="5" speed="1000"  autoplay="true">
                    <swiper-slide><img src="../../assets/images/html.png" class="" alt=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/css.png" alt=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/js.png" alt=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/python.png" alt="" srcset=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/bootstrap.png" alt="" srcset=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/angular.png" alt="" srcset=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/csharp.png" alt="" srcset=""></swiper-slide>
                 
                
                </swiper-container>
                
            </div>
            <div class="row d-flex d-md-none">
                <swiper-container slides-per-view="2" speed="500" autoplay="true">
                    <swiper-slide><img src="../../assets/images/html.png" class="" alt=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/css.png" alt=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/js.png" alt=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/python.png" alt="" srcset=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/bootstrap.png" alt="" srcset=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/angular.png" alt="" srcset=""></swiper-slide>
                    <swiper-slide><img src="../../assets/images/csharp.png" alt="" srcset=""></swiper-slide>
                 
                
                </swiper-container>
                
            </div>
        </div>
      </div>
</div>
