<app-header></app-header>
<div class="home-container">
    <img src="../../assets/images/AthulBabu.jpg" class="mb-4 img-responsive img-fluid rounded-circle" id="my-image" alt="">
    <p id="introduce-me" class="mb-3">Hi I'm Athul Babu</p>
<div class="text-wrapper mt-3 mb-5 text-center mx-auto">
    <h2 class="text">Where code meets creativity,<br> excellence takes shape</h2>
</div>
<button class="btn">About Me >>></button>
</div>
<app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
<app-footer></app-footer>